@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    font-family: 'Plus Jakarta sans'; 
    --typography-base: 15px;
    --spacing: 10px;
    --border-radius: 20px;

    --white: #FFFFFF;
  	--black:#181818;
	  --double-black: #000000;
    --dark-grey: #181818;
    --buton-grey:#2A2A2A;
    --footer : #A7A7A7;
    --backgroundline : #292929;
    
}


body {
  background-color: var(--double-black);
  color: var(--white);
  background-size: 25px 25px;
  z-index: -1;
  background-image:
    linear-gradient(to right, #101010 .5px, transparent 1px),
    linear-gradient(to bottom,  #101010  .5px, transparent 1px);
    
}

  /* POP UP CSSS */
  /* POP UP CSSS */
  /* POP UP CSSS */
  /* POP UP CSSS */
  /* POP UP CSSS */
  /* POP UP CSSS */


.popup-overlay {
  display: flex;
  background:rgba(0, 0, 0, 0.69);
  backdrop-filter: blur(2px);
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  visibility: hidden;
}

.popup-content {
  align-items: end;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-grey);
  padding: 20px;
  border-radius: calc(1* var(--border-radius));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.popup-heading { 
  color: var(--white);
  font-size: calc(3* var(--typography-base));
  margin-right: calc(2* var(--typography-base));
  margin-left: calc(2* var(--typography-base));
  margin-bottom: calc(2* var(--typography-base));
}
.popup-text { 
  color: var(--white);
  font-size: calc(1.7* var(--typography-base));
  margin-right: calc(1* var(--typography-base));
  margin-left: calc(1* var(--typography-base));
  margin-top: calc(2* var(--typography-base));
  margin-bottom: calc(2* var(--typography-base));
  
}

#closePopup {
  color: #fff;
  border: none;
  width: 8%;
  padding: var(--spacing);
  cursor: pointer;
  border-radius: 30px;
}

.popup-overlay {
  /* Existing styles */
  visibility: hidden;
  transform: translateY(100%);
  transition: visibility 0s, transform 0.9s ease-in-out; /* Added transition for smooth animation */
}

.popup-overlay.active {
  visibility: visible;
  transform: translateY(0);
}

  /* NAV BAR CSS */
  /* NAV BAR CSS */
  /* NAV BAR CSS */
  /* NAV BAR CSS */
  /* NAV BAR CSS */
  /* NAV BAR CSS */

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--double-black);
    padding: 10px 20px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  .nav {
    background-color: transparent;
    border: none;
    color: var(--white);
    padding: var(--spacing);
    border-radius: calc(.5* var(--typography-base));
    font-size: calc(1.5* var(--typography-base));
    cursor: pointer;
    margin-left: 20px; 
  }
  
  .nav:hover {
    background-color: var(--dark-grey);
  }

  /* DESIGN BRIEF SECTION CSS  */
  /* DESIGN BRIEF SECTION CSS  */
  /* DESIGN BRIEF SECTION CSS  */
  /* DESIGN BRIEF SECTION CSS  */
  /* DESIGN BRIEF SECTION CSS  */
  /* DESIGN BRIEF SECTION CSS  */
  /* DESIGN BRIEF SECTION CSS  */

.prompt-display .background {
    padding: 20px;
    height: 50vh;
    margin-bottom: calc(5* var(--spacing));
  }

.design-brief { 
    font-size: calc(3* var(--typography-base));
    text-align: center;
    font-weight: 500;
    margin-bottom: calc(4* var(--spacing));
    padding-top: calc(8* var(--spacing));
    padding-right: calc(15* var(--spacing));
    padding-left: calc(15* var(--spacing));
}

.deliverable { 
    text-align: center;
    font-size: calc(1.7* var(--typography-base));
    font-weight: 300;
    margin-left: calc(30* var(--spacing));
    margin-right: calc(30* var(--spacing));
}

.deadline { 
    font-size: calc(1.2* var(--typography-base));
    font-weight: 300;
    margin-top: calc(1.3* var(--spacing));
    margin-bottom: calc(3* var(--spacing));  
}


    /* CTA BUTTONS CSS  */
    /* CTA BUTTONS CSS  */
    /* CTA BUTTONS CSS  */
    /* CTA BUTTONS CSS  */
    /* CTA BUTTONS CSS  */
    
.generate {
    font-size: calc(1.2* var(--typography-base));
    padding: 10px 20px;
    background-color: #007bff;
    font-weight: 400;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: calc(1* var(--spacing));
}

button:hover {
    background-color: #0056b3;
    cursor: pointer;
}


#industryFilter {
    padding: 10px 20px;
    font-size: calc(1.2* var(--typography-base));
    font-weight: 500;
    margin: calc(1* var(--spacing));
    cursor: pointer;
    color: var(--double-black);
    background-color: var(--white);
    border-radius: 10px;
  }

.CTA-buttons { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: calc(2* var(--spacing));  
  margin-bottom: calc(5* var(--spacing));  
}

/* FOOTER CSS */
/* FOOTER CSS */
/* FOOTER CSS */
/* FOOTER CSS */
/* FOOTER CSS */
/* FOOTER CSS */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: auto;
  background-color: var(--double-black);
  color: var(--white);
  padding: var(--spacing);
  margin-top: calc(4* var(--spacing));
}

.footer-links { 
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.brand {
  font-size: calc(3* var(--typography-base));
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: calc(3* var(--spacing));
}

.title {
  font-size: calc(1.5* var(--typography-base));
  font-weight: bold;
  margin-bottom: calc(2* var(--spacing));
  margin-left: calc(3* var(--spacing));
}

.column-2 { 
  margin-top: calc(2* var(--spacing));
  margin-right: calc(10* var(--spacing));
  display: flex;
  flex-direction: row;
}

.briefs-link {
  font-size: calc(.8* var(--typography-base));
  margin-left: calc(3* var(--spacing));
  margin-bottom: calc(1* var(--spacing));
  display: block;
  color: var(--footer);
}

.left-links { 
    margin-top: calc(5* var(--spacing));
}

.copyright {
  margin-top: calc(2* var(--spacing));
  margin-bottom: calc(3* var(--spacing));
  margin-left: calc(3* var(--spacing));
  text-align: left;
}

@media only screen and (max-width: 1024px) {

.nav {
  padding: var(--spacing);
  border-radius: calc(.5* var(--typography-base));
  font-size: calc(1.2* var(--typography-base));
  cursor: pointer;
  margin-left: 20px; 
  }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--double-black);
  padding: 5px 10px;
}

.logo{
    width: 30%;
}

.prompt-display .background {
    height: none;
    padding: 20px;
    margin-bottom: calc(2* var(--spacing));  
 }

.design-brief { 
  font-size: calc(2* var(--typography-base));
  margin-bottom: calc(2.5* var(--spacing));
  padding-top: calc(3* var(--spacing));
  padding-right: calc(10* var(--spacing));
  padding-left: calc(10* var(--spacing));
}

.deliverable { 
  font-size: calc(1.3* var(--typography-base));
  margin-left: calc(15* var(--spacing));
  margin-right: calc(15* var(--spacing));
}

.CTA-buttons { 
  margin-top: calc(1* var(--spacing));  
  margin-bottom: calc(1* var(--spacing));  
}


 #industryFilter {
  font-size: calc(1* var(--typography-base));
  margin: calc(1* var(--spacing));
  cursor: pointer;
  color: var(--double-black);
  background-color: var(--white);
  border-radius: 10px;
}

.generate {
  font-size: calc(1* var(--typography-base));
  padding: 10px 20px;
  background-color: #007bff;
  font-weight: 400;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: calc(1* var(--spacing));
}

.brand {
  font-size: calc(2* var(--typography-base));
}

.title {
  font-size: calc(1.2* var(--typography-base));
  font-weight: bold;
  margin-bottom: calc(1* var(--spacing));
  margin-left: calc(3* var(--spacing));
}

.briefs-link {
  font-size: calc(.6* var(--typography-base));
  margin-left: calc(3* var(--spacing));
  margin-bottom: calc(.5* var(--spacing));
}

.left-links { 
  margin-top: calc(3.5* var(--spacing));
}

.copyright {
  font-size: calc(.7* var(--typography-base));
  margin-top: calc(1* var(--spacing));
  margin-bottom: calc(3* var(--spacing));
  margin-left: calc(3* var(--spacing));
  text-align: left;
}


}

@media only screen and (max-width: 768px) {

  .nav {
    padding: var(--spacing);
    border-radius: calc(.5* var(--typography-base));
    font-size: calc(1.2* var(--typography-base));
    cursor: pointer;
    margin-left: 20px; 
    }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--double-black);
    padding: 5px 10px;
  }
  
  .logo{
      width: 30%;
  }
  
  .prompt-display .background {
    padding: 20px;
    margin-bottom: calc(2* var(--spacing));  
   }
  
  .design-brief { 
    font-size: calc(1.6* var(--typography-base));
    margin-bottom: calc(2.5* var(--spacing));
    padding-top: calc(3* var(--spacing));
    padding-right: calc(1* var(--spacing));
    padding-left: calc(1* var(--spacing));
  }
  
  .deliverable { 
    font-size: calc(1.3* var(--typography-base));
    margin-left: calc(5* var(--spacing));
    margin-right: calc(5* var(--spacing));
  }
  
  .CTA-buttons { 
    margin-top: calc(1* var(--spacing));  
    margin-bottom: calc(1* var(--spacing));  
  }
  
  
   #industryFilter {
    font-size: calc(1* var(--typography-base));
    margin: calc(1* var(--spacing));
    cursor: pointer;
    color: var(--double-black);
    background-color: var(--white);
    border-radius: 10px;
  }
  
  .generate {
    font-size: calc(1* var(--typography-base));
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 10px;
    cursor: pointer;
    margin: calc(1* var(--spacing));
  }
  
  .brand {
    font-size: calc(2* var(--typography-base));
  }
  
  .title {
    font-size: calc(1.2* var(--typography-base));
    font-weight: bold;
    margin-bottom: calc(1* var(--spacing));
    margin-left: calc(3* var(--spacing));
  }
  
  .briefs-link {
    font-size: calc(.6* var(--typography-base));
    margin-left: calc(3* var(--spacing));
    margin-bottom: calc(.5* var(--spacing));
  }
  
  .left-links { 
    margin-top: calc(3.5* var(--spacing));
  }
  
  .copyright {
    font-size: calc(.7* var(--typography-base));
    margin-top: calc(1* var(--spacing));
    margin-bottom: calc(3* var(--spacing));
    margin-left: calc(3* var(--spacing));
    text-align: left;
  }
  
  
  }

  @media only screen and (max-width: 425px) {

    .nav {
      padding: var(--spacing);
      border-radius: calc(.5* var(--typography-base));
      font-size: calc(1* var(--typography-base));
      cursor: pointer;
      margin-left: 20px; 
      }
    
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--double-black);
      padding: 5px 10px;
    }
    
    .logo{
        width: 35%;
    }
    
    .prompt-display .background {
      padding: 20px;
      /* height: 33vh; */
      margin-bottom: calc(.2* var(--spacing));  
      padding-bottom: 0px;
     }
    
    .design-brief { 
      font-size: calc(1.3* var(--typography-base));
      margin-bottom: calc(2* var(--spacing));
      padding-top: calc(1* var(--spacing));
      padding-right: calc(1* var(--spacing));
      padding-left: calc(1* var(--spacing));
    }
    
    .deliverable { 
      font-size: calc(1* var(--typography-base));
      margin-left: calc(5* var(--spacing));
      margin-right: calc(5* var(--spacing));
    }
    
    .CTA-buttons { 
      text-align: center;
      display: flex;
      flex-direction: column;
      margin-top: calc(1* var(--spacing));  
      margin-bottom: calc(1* var(--spacing));  
      padding-left: calc(4* var(--spacing));  
      padding-right: calc(4* var(--spacing));  
    }
    
    
     #industryFilter {
      font-size: calc(1* var(--typography-base));
      margin: calc(1* var(--spacing));
      cursor: pointer;
      color: var(--double-black);
      background-color: var(--white);
      border-radius: 10px;
    }
    
    .generate {
      font-size: calc(1* var(--typography-base));
      padding: 10px 20px;
      background-color: #007bff;
      font-weight: 400;
      color: #fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      margin: calc(1* var(--spacing));
    }
    
    .brand {
      font-size: calc(2* var(--typography-base));
    }
    
    .title {
      font-size: calc(1.2* var(--typography-base));
      font-weight: bold;
      margin-bottom: calc(1* var(--spacing));
      margin-left: calc(3* var(--spacing));
    }
    
    .briefs-link {
      font-size: calc(.6* var(--typography-base));
      margin-left: calc(3* var(--spacing));
      margin-bottom: calc(.5* var(--spacing));
    }
    
    .left-links { 
      margin-top: calc(3.5* var(--spacing));
    }
    
    .copyright {
      font-size: calc(.7* var(--typography-base));
      margin-top: calc(1* var(--spacing));
      margin-bottom: calc(3* var(--spacing));
      margin-left: calc(3* var(--spacing));
      text-align: left;
    }

    .popup-content {
      align-items: end;
      width: 90%;
      display: flex;
      flex-direction: column;
      background-color: var(--dark-grey);
      padding: 6px;
      border-radius: calc(1* var(--border-radius));
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      text-align: center;
    }
    
    
    .popup-heading { 
      color: var(--white);
      font-size: calc(1.6* var(--typography-base));
      margin-right: calc(0* var(--typography-base));
      margin-left: calc(0* var(--typography-base));
      margin-bottom: calc(2* var(--typography-base));
    }

#closePopup {
  width: 12%;
  padding: var(--spacing);
}

.popup-text { 
  color: var(--white);
  font-size: calc(1.2* var(--typography-base));
  margin-right: calc(0* var(--typography-base));
  margin-left: calc(0* var(--typography-base));
  margin-top: calc(2* var(--typography-base));
  margin-bottom: calc(2* var(--typography-base));
  
}

    }
  
  
  

